<h3 class="pt-4 font-weight-bold text-uppercase product-details-subtitle"><%= Spree.t(:description) %></h3>
<div id="product-description-short" class="m-0 text-break product-description" data-hook="description">
  Product 
</div>

<div id="product-description-long" class="m-0 text-break product-description d-none" data-hook="description">
  Product 
</div>
